asgiref==3.11.0
channels==4.0.0
channels-redis==4.1.0
daphne==4.0.0
Django==5.2.4
django-cors-headers==4.7.0
djangorestframework==3.16.0
djangorestframework_simplejwt==5.5.1
drf-yasg==1.21.10
pillow==11.0.0
python-dotenv==1.1.1
pytz==2025.2
redis==7.1.0
requests==2.32.5
whitenoise==6.9.0
agora_token_builder==1.0.0
stripe==11.2.0
